extends layouts/main

block content
    .form-container
        form(action=routes.join,method="post")   
            input(type="text",name="name",placeholder="FUll name")
            input(type="email",name="email",placeholder="Email")
            input(type="password",name="password",placeholder="Password")
            input(type="password2",name="password2",placeholder="Verify Password")
            input(type="submit",value="Join Now")
        include partials/socialLogin